EnvioMail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://microsoft.com/webservices/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:element name="EnviarMail">

        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Asunto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarMailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnviarMailSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarMail" />
  </wsdl:message>
  <wsdl:message name="EnviarMailSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarMailResponse" />
  </wsdl:message>
  <wsdl:portType name="EnvioMailSoap">
    <wsdl:operation name="EnviarMail">
      <wsdl:input message="tns:EnviarMailSoapIn" />
      <wsdl:output message="tns:EnviarMailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EnvioMailSoap" type="tns:EnvioMailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarMail">
      <soap:operation soapAction="http://microsoft.com/webservices/EnviarMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EnvioMailSoap12" type="tns:EnvioMailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarMail">
      <soap12:operation soapAction="http://microsoft.com/webservices/EnviarMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnvioMail">
    <wsdl:port name="EnvioMailSoap" binding="tns:EnvioMailSoap">
      <soap:address location="https://localhost:44339/EnvioMail.asmx" />
    </wsdl:port>
    <wsdl:port name="EnvioMailSoap12" binding="tns:EnvioMailSoap12">
      <soap12:address location="https://localhost:44339/EnvioMail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>