WebContent/wsdl/EnvioMailSoap.wsdl

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://microsoft.com/webservices/">
  
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:element name="EnviarMail">

        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Email" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Asunto" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Mail" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="EnviarMailResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnviarMailSoapIn">
    <wsdl:part element="tns:EnviarMail" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EnviarMailSoapOut">
    <wsdl:part element="tns:EnviarMailResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EnvioMailSoap">
    <wsdl:operation name="EnviarMail">
      <wsdl:input message="tns:EnviarMailSoapIn"/>
      <wsdl:output message="tns:EnviarMailSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EnvioMailSoap" type="tns:EnvioMailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="EnviarMail">
      <soap:operation soapAction="http://microsoft.com/webservices/EnviarMail" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EnvioMailSoap12" type="tns:EnvioMailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="EnviarMail">
      <soap12:operation soapAction="http://microsoft.com/webservices/EnviarMail" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnvioMail">
    <wsdl:port binding="tns:EnvioMailSoap" name="EnvioMailSoap">
      <soap:address location="http://localhost:8080/TPINT_GRUPO_3_LAB/services/EnvioMailSoap"/>
    </wsdl:port>
    <wsdl:port binding="tns:EnvioMailSoap12" name="EnvioMailSoap12">
      <soap12:address location="https://localhost:44339/EnvioMail.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
